div.main {
    display:flex; flex-direction:row; justify-content:flex-end; align-items:stretch;
    flex-grow:1; width:100%; overflow-x:hidden;overflow-y:scroll; gap:40px;

    padding: 8px 20px; box-sizing:border-box;

    div.main-left {
        flex-grow:1; height:max-content;
        padding: 4px 8px; box-sizing:border-box;
        // border:1px solid #eee;
        border-radius: 8px;
    }
    div.max-right {
        display:flex; flex-direction:column; justify-content:flex-start; align-items:stretch;
        gap:10px;
    }

    scrollbar-width: none; -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }
}