div.main {
    display:flex; flex-direction:row; justify-content:center; align-items:stretch;
    flex-grow:1; width:100%; overflow-x:hidden;overflow-y:scroll;

    padding: 5px 20px 0;

    scrollbar-width: none; -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }
}